@charset "UTF-8";

table { 
    display: block; /* mandatory because scroll only works on block elements */
}

tbody { 
    display: block; /* mandatory because scroll only works on block elements */
}

tbody.scrollable {
    height: 220px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}



th, td {
    border-bottom: 1px solid #ddd;
}

.overflow { 
	height: 150px; 
}

.gridLayout {
	display: grid;
}


#wrap {
    position: relative;
    width: 1500px;
    height: 800px;
    background-color: red;
}
#outer {
    position: relative;
    width: 1500px;
    height: 800px;
    -webkit-transform-origin: left top;
}

#inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 800px;
}

#tableArea .ui-accordion-content {
    max-height: 400px;
    font-size: 18px;
}

#displayGrid {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 800px;
	border-style: inset;
	grid-template-areas:
    'gheader gheader gheader gheader gheader gheader'
    'gdraw   gdraw   gdraw   gtable  gtable  gtable';
      grid-gap: 5px;
  	background-color: #b4cbde;
  	padding: 5px;
}

#displayGrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
}

.gheader { grid-area: gheader; }
.gdraw { grid-area: gdraw; }
.gtable { grid-area: gtable; overflow-x: scroll; }



 .hoverTable{
	width:100%; 
}
.hoverTable td{ 
	padding:3px; 
	border:#4e95f4 1px solid;
	font-size: 18px;
}
/* Define the default color for all the table rows */
.hoverTable tr{
	background: #ffffff;
}
/* Define the hover highlight color for the table row */
  .hoverTable tr:hover {
        background-color: #ffff99;
  }
  
#mineSvg {
	width: 100%;
}

#saveLoadTextArea {
	width: 100%;
}

.tableInfoHeader {
	background: #b8d1f3;
}

.dataInfoTable {
	border-spacing: 3px;
}


